name: Build and Release

on:
  push:
    branches: [ "master" ]  # Change to your default branch if different
    
jobs:  
  check-version:
      runs-on: windows-latest
      outputs:
        version: ${{ steps.get_version.outputs.version }}
        version_changed: ${{ steps.check_change.outputs.changed }}
      permissions:
        contents: write  # Allows creating releases
      
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v6
    
        - name: Get Version from Project File
          id: get_version
          shell: bash
          run: echo "version=$(grep -oE '<Version>[^<]+' PrevisionalAccountManager/PrevisionalAccountManager.csproj | sed 's/<Version>//')" >> $GITHUB_OUTPUT
  
        - name: Check if version changed
          id: check_change
          shell: pwsh
          run: |
            $headers = @{
              Authorization = "token ${{ github.token }}"
              Accept = "application/vnd.github.v3+json"
            }    
            $response = Invoke-RestMethod -Uri "https://api.github.com/repos/${{ github.repository }}/tags" -Headers $headers
            
            if ($response.Count -gt 0) {
              $previousVersion = $response[0].name
            } else {
              $previousVersion = "0.0.0"
            }    
            if ( ${{ steps.get_version.outputs.version }} -ne $previousVersion) {
              $changed = 'true'
              echo "changed=true" >> $env:GITHUB_OUTPUT
            } else {
              $changed = 'false'
              echo "changed=false" >> $env:GITHUB_OUTPUT
            }
            echo "Current version: $changed ${{ steps.get_appversion.outputs.version }}"
  build-and-release:
    needs: check-version
    if: needs.check-version.outputs.version_changed == 'true'
    runs-on: windows-latest
    steps:
    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
       dotnet-version: | 
        9.0.x
        10.0.x
  
    - name: Restore dependencies Build Publish
      run: dotnet publish --configuration Release
  
    - name: Create Velopack Release
      run: |
        dotnet tool install -g vpk
        vpk download github --repoUrl https://github.com/${{ github.repository }}
        vpk pack --packId PrevisionalAccountManager --packDir PrevisionalAccountManager/Publish --mainExe PrevisionalAccountManager.exe --noPortable --skipVeloAppCheck -v ${{ needs.steps.version.outputs.version }}
        vpk upload github --repoUrl https://github.com/${{ github.repository }} --publish --releaseName "PrevisionalAccountManager ${{ needs.steps.version.outputs.version }}" --tag v${{needs.steps.version.outputs.version }} --token ${{ secrets.GITHUB_TOKEN }}
