name: Build and Release

on:
  push:
    branches: [ "master" ]  # Change to your default branch if different
    
jobs:
  build-and-release:
    runs-on: windows-latest
    permissions:
      contents: write  # Allows creating releases
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
  
      - name: Get Version from Project File
        id: get_appversion
        shell: bash
        run: echo "version=$(grep -oE '<Version>[^<]+' PrevisionalAccountManager/PrevisionalAccountManager.csproj | sed 's/<Version>//')" >> $GITHUB_OUTPUT

      - name: Check if version changed
        id: check_change
        shell: pwsh
        run: |
          $headers = @{
            Authorization = "token ${{ github.token }}"
            Accept = "application/vnd.github.v3+json"
          }    
          $response = Invoke-RestMethod -Uri "https://api.github.com/repos/${{ github.repository }}/tags" -Headers $headers
          
          if ($response.Count -gt 0) {
            $version = $response[0].name
          } else {
            $version = "0.0.0"
          }    
          echo "version=$version" >> $env:GITHUB_OUTPUT
          echo "Current version: $version"
      
      - name: Install .NET
        uses: actions/setup-dotnet@v5
        with:
         dotnet-version: | 
          9.0.x
          10.0.x

      - name: Restore dependencies Build Publish
        run: dotnet publish --configuration Release

      - name: Create Velopack Release
        if: ${{ steps.get_appversion.outputs.version }} != ${{ steps.Get_tagversion.outputs.version }}
        run: |
          dotnet tool install -g vpk
          vpk download github --repoUrl https://github.com/${{ github.repository }}
          vpk pack --packId PrevisionalAccountManager --packDir PrevisionalAccountManager/Publish --mainExe PrevisionalAccountManager.exe --noPortable --skipVeloAppCheck -v ${{ steps.get-version.outputs.version }}
          vpk upload github --repoUrl https://github.com/${{ github.repository }} --publish --releaseName "PrevisionalAccountManager ${{ steps.get_appversion.outputs.version }}" --tag v${{ steps.get_appversion.outputs.version }} --token ${{ secrets.GITHUB_TOKEN }}
